<%= render @user %>
<div class="info-box">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
<%= render partial: 'posts/post', collection: @user.posts, locals: { display_comments: false }%>
<div class="btn">
  <%= link_to 'See all posts', user_posts_path(@user), class: "btn-link" %>
</div>