<%= render @user %>
<div class="info-box">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
<%= render partial: 'posts/post', collection: @user.posts, locals: { display_comments: false }%>
<button type="button">Show all posts</button>