<p>all posts for a specific user</p>
<%= render partial: 'users/user', locals: { user: @user } %>

<%= render partial: 'post', collection: @posts, locals: { display_comments: true } %>

 <div>
     <%= link_to 'Create New Post', new_user_post_path %> |
     <%= link_to 'Back to users', root_path %>
     <button>Pagination</button>
</div>