/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  box-sizing: border-box;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic {
  width: 120px;
  height: 180px;
  margin-bottom: 2rem;
}

.user-info {
  width: 60%;
}

.info-box {
  border: solid black 1px;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.comment-box {
  margin-top: -1.8rem;
}
